-
  const STATE_KEY = 'TQ_API_ACADEMY_WORLD_STATE';
  const worldState = getState(STATE_KEY);
  let allComplete = false;
  if (
    worldState.initiation && 
    worldState.initiation.lastShownHouseNotification &&
    worldState.initiation.lastShownHouseNotification === 4
  ) {
    allComplete = true;
  }

mixin personal_intro
  response#personal_intro.
    Pouvez-vous me rappeler qui vous êtes, et ce que vous faites ici ?

mixin exposition
  response#exposition.
    Quel est l'objectif de l'Académie ?

mixin get_started
  response#get_started.
    Comment puis-je entrer à l'Académie ?

conversation(display_name="Directeur des admissions Heapsort")
  case lastResponse
    when "personal_intro"
      statement#personal_intro
      responses
        +get_started
        +exposition

    when "exposition"
      statement#exposition
      responses
        +get_started
        +personal_intro

    when "ack"
      statement#ack
      responses
        +exposition
        +personal_intro

    when "get_started"
      statement#get_started
      responses
        if allComplete
          +exposition
          +personal_intro
        else
          response#ack.
            Je comprends. Je ferai un rapport lorsque j'aurai trouvé tous les coffres.

    default
      if !worldState.heapsortInitialGreeting
        - worldState.heapsortInitialGreeting = true;
        statement#default
        responses
          response#personal_intro.
            Je suis très intéressé à rejoindre l'Académie, mais peut-être qu'une série de présentations sont la règle ?
          +exposition
          +get_started

      else if allComplete
        statement#thanks
        responses
          +exposition
          +personal_intro

      else
        statement#follow_up_greeting
        responses
          +get_started
          +exposition
          +personal_intro

  statements
    statement#default
      text.
        Oh, bien maintenant, un agent ! Puis-je présumer que vous êtes ici pour demander
        l'admission à l'Académie ? <br/><br/>
        Je l'espère bien - nous n'avons pas eu beaucoup d'Agents
        qui ont étudié ici à l'Académie des Arcanes des Sciences des API, mais chacun d'entre eux
        a été un étudiant modèle.

    statement#follow_up_greeting
      text.
         re-bonjour, Agent ! Êtes-vous excité de commencer vos exploits académiques à l'Académie ?

    statement#thanks
      text.
        Bravo !Vous avez effectué les exercices d'admission requis pour rejoindre l'Académie. Malheureusement, nous ne sommes pas tout à fait prêts à accueillir des étudiants de mi-session dans l'Académie pour le moment.
        <a href="https://www.twilio.com/quest#email">Veuillez vous inscrire ici</a> pour recevoir une lettre d'admission officielle lorsque le moment sera venu de commencer vos études.<br/></br/>
        <i>[Vous soupçonnez que les développeurs de TwilioQuest ont besoin de plus de temps pour compléter le reste de l'Académie, et vous résolvez de revenir plus tard.]</i>

    statement#get_started
      if allComplete
        text.
          À ce stade, vous avez prouvé que vous êtes prêt à entrer dans l'Académie.
          Maintenant, nous devons juste attendre que les étudiants de mi parcours aient accès 
          à l'Académie. <a href="https://www.twilio.com/quest#email">Veuillez vous inscrire ici</a>
          pour recevoir une lettre d'admission officielle lorsque le moment sera venu d'entrer dans l'Académie !
      else
        text.
          Tous les futurs étudiants sont tenus de maîtriser les principes de base de l'utilisation des 
          l'utilisation de l'API avant de rejoindre l'Académie. Dans la forêt au sud,
          vous trouverez <span class="highlight">quatre coffres à trésors</span>.
          Ouvrez chacun d'entre eux pour allumer l'un des braseros derrière moi.<br/><br/>
          Une fois les quatre braseros allumés, vous aurez prouvé que vous êtes digne 
          d'entrer à l'Académie des Arcanes des sciences des API ! 

    statement#ack
      text.
        Je vous souhaite bonne chance dans vos recherches. Chaque coffre est situé dans un petit 
        monument de chacune des quatre maisons d'étudiants de l'Académie - Lovelace, Turing, 
        von Neumann, et Hopper. Cherchez des 
        <span class="highlight">structures de pierre portant les couleurs</span> de 
        chaque maison.

    statement#exposition
      text.
        Les API sont les blocs de construction fondamentaux de la programmation. La plupart du
        code que vous écrivez invoquera du code écrit par quelqu'un d'autre, donc la maîtrise de 
        ces concepts sont de la plus haute importance.<br/><br/>
        En outre, apprendre à utiliser les API sur Internet, via HTTP, est un incroyable 
        atout pour votre code. Apprendre à nos étudiants à débloquer cette puissance 
        est l'objectif principal de l'Académie.
    
    statement#personal_intro
      text.
        Je suis le <span class="highlight">Professeur Kimberly Heapsort</span>, directrice 
        des admissions de l'Académie des Arcanes des Science des API. Je m'assure que notre 
        corps étudiant est prêt à apprendre les leçons qui peuvent être trouvées dans notre 
        notre école, et qu'une éducation à l'Académie est à la portée des aspirants 
        développeurs de tous horizons.

// Flush world state changes, if any
- setState(STATE_KEY, worldState);
